Starcos/Starcos.sdf
Starcos/Starcos.suo
Starcos/Starcos.v11.suo
Starcos/Starcos/CardReader.h
Starcos/Starcos/ReadMe.txt
Starcos/Starcos/Stm4xs32.lib
Starcos/Starcos/Stm4xw32.dll
Starcos/Starcos/TODO.h
Starcos/Starcos/stm_api.h
Starcos/ipch/starcos-fdad24da/starcos-304e048b.ipch
Starcos/Debug/*
Starcos/Starcos/Debug/*